@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gurajada';
    src: url('/fonts/Gurajada-Regular.ttf') format('truetype');
    /* Add additional font formats here (e.g., woff, woff2) for better cross-browser compatibility */
}
  
body {
    font-family: 'Gurajada', sans-serif;
}

.bg_game {
    background-image: url('/images/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
}

.btn_custom{
    box-shadow: 0px 4px 4px 0px #00000040;
    box-shadow: 0px 4px 4px 0px #00000040 inset;
    border: 2px solid #F5F5F5;
    border-radius: 20px;
}

.txt_header_custom {
    text-shadow: 0 0 8px #000;
    letter-spacing: 5px;
}

/* Styling the scrollbar track */
::-webkit-scrollbar {
    width: 12px; /* Adjust the width as needed */
}
  
  /* Styling the scrollbar thumb (draggable part) */
  ::-webkit-scrollbar-thumb {
    background-color: #888; /* Change the background color */
}

/* Styling the scrollbar track in Edge */
::-webkit-scrollbar-track {
    background-color: #60a5fa; /* Change the background color */
}
  
/* Styling the scrollbar thumb in Edge */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Change the background color */
}

.level-btn {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}